body{
    background-color: #D9D9D9;
}
img{
    width: 60%;
}
.text{
    width: 60%;
    text-align: left;
    margin: auto;
}
footer{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}